workflow-chatbot-telegram.json
{
  "name": "Telegram Weather Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "queue-assignment",
              "name": "queue",
              "value": "={{ $json.message.text.trim().toLowerCase().endsWith(',br') ? $json.message.text.trim().toLowerCase() : $json.message.text.trim().toLowerCase() + ',br' }}",
              "type": "string"
            },
            {
              "id": "chat-id-assignment",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-queue",
      "name": "Captura e Formata Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-openweather",
      "name": "Consulta OpenWeather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "onError": "continueRegularOutput",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-cod",
              "leftValue": "={{ $json.cod }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-temp",
              "leftValue": "={{ $json.main?.temp }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-validation",
      "name": "Valida Resposta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-message",
              "name": "mensagem",
              "value": "=🌤️ A temperatura em {{ $json.name }} é de {{ Math.round($json.main.temp) }}°C.",
              "type": "string"
            },
            {
              "id": "success-chat-id",
              "name": "chatId",
              "value": "={{ $('Captura e Formata Entrada').item.json.chatId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success",
      "name": "Formata Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "mensagem",
              "value": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
              "type": "string"
            },
            {
              "id": "error-chat-id",
              "name": "chatId",
              "value": "={{ $('Captura e Formata Entrada').item.json.chatId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error",
      "name": "Formata Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 100]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-send-success",
      "name": "Envia Resposta Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, -100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-send-error",
      "name": "Envia Resposta Erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Captura e Formata Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura e Formata Entrada": {
      "main": [
        [
          {
            "node": "Consulta OpenWeather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta OpenWeather": {
      "main": [
        [
          {
            "node": "Valida Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida Resposta": {
      "main": [
        [
          {
            "node": "Formata Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Sucesso": {
      "main": [
        [
          {
            "node": "Envia Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Erro": {
      "main": [
        [
          {
            "node": "Envia Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "placeholder"
  }
}
